html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: "Lato", Arial, sans-serif;
    overflow-x: hidden;
}

/* Barre de navigation */
header {
    height: 60px;
}

header nav {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #2c3e50;
    position: fixed;
    height: 60px;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    padding: 0px;
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    height: 100%;
    width: 80%;
    align-items: center;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
}

header nav ul li a:hover{
    color: #909497;
    font-size: 1.9rem;
}

.nav-bar {
    width: 80%;
}

.affiche, .lock, .affiche_2 {
    display: none;
}

/* Menu dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    bottom: 8px;
}

.open_dropdown {
    background-color: #f1f1f1;
    color: black;
    padding: 12px;
    cursor: pointer;
    padding-right: 0;
}

.dropdown_content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 57px;
    margin: 0;
}

.dropdown_content a {
    color: black;
    text-decoration: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
}

.dropdown img {
    position: relative;
    width: 32px;
    height: 32px;
    top: 10px;
    pointer-events: none;
    rotate: 90deg;
    transition: transform 0.3s ease-in-out;
    border-radius: 50%;
}

/* change la couleur de fond du lien dans le dropdown content */
.dropdown_content a:hover {
    background-color: #ddd;
}

/* rotation de l'image quand le menu est cliquée */
.rotate {
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in-out;
}


/* CONTENU DE LA PAGE */
main {
    display: flex;
    text-align: center; 
}

article {
    min-height: calc(100dvh - 60px);
    width: 100%;
    scroll-margin-top: 60px;
}

.contenu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contact h2, #projets h2, #bio h2,#competence h2 {
    font-size: xx-large;
    font-style: italic;
}

#competence, #contact, #accueil {
    background-color: #f0f0f0;
}

/* ----------------------------------------------------------------- ACCUEIL ----------------------------------------------------------------- */
#accueil {
    background-image: url("./image/5562006.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#accueil h1,#accueil h2,#accueil h3 {
    /*color: #420801a8;*/
    color: #2c3e50;
}

#accueil h2 {
    font-size: xx-large;
}

#accueil h3 {
    font-size: x-large;
    margin-top: 0;
}

#accueil h1 {
    position: relative;
    width: max-content;
    font-size: xxx-large;
    overflow: hidden;
    display: inline-block;
}

.auto_text {
    display: inline-block;
    font-size: xxx-large;
    white-space: nowrap;
    overflow: hidden;
    border-right: 6px solid #2070a5; /* Curseur clignotant */
    animation: typing 6s steps(24, end) forwards, blink 0.7s infinite;
    padding: 10px 20px;
    transition: opacity 1.5s ease-in-out;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Animation du curseur */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Disparition du texte */
.fade-out {
    opacity: 0;
}

.titre_secondaire {
    display: none !important;
}





/* ----------------------------------------------------------------- A PROPOS ----------------------------------------------------------------- */
#bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#bio .perso {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #e6e6e6;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

#bio .pp {
    height: 250px;
    border-radius: 50%;
}

#bio p:nth-child(2) {
    max-width: 50%;
    text-align: justify;
    font-size: 1vw;
    height: 100%;
    align-content: center;
}

#bio .perso div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bio .perso div img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

#bio part {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    margin-bottom: 20px;
}

.timebar {
    height: 10px;
    width: 60vw;
    background-color: black;
    margin: 60px;
}

#bio part div {
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
    align-items: end;
}

#bio part section{
    padding: 1%;
    margin: 0;
    border-radius: 15px;
    background-color: #A2D2FF;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
    height: fit-content;
    position: relative;
}

#bio part div:first-child section {
    background-color: #B7E4C7;
}

#bio part h3 {
    margin-top: 0;
    margin-bottom: 5%;
    font-size: 150%;
}

#bio part h4 {
    margin-top: 1%;
    margin-bottom: 1%;
}


/* BEFORE */
#bio part div:first-child section::before {
    content: "";
    border: 2px solid green;
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url(./image/scolaire.png);
    background-size: cover; /* Ajuste l'image */
    background-position: center;
    border-radius: 30px;
    translate: -50% 306.5%;
    left: 50%;
}

#bio part div:last-child section::before {
    content: "";
    border: 2px solid blue;
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url(./image/professionelles.png);
    background-size: cover; /* Ajuste l'image */
    background-position: center;
    border-radius: 30px;
    translate: 0 -208%;
    left: 40%;
}

#bio part div:first-child section:last-child:before {translate: -50% 260.5%;}

/* AFTER */
.timebar::after {
    content: "";
    height: 50px;
    width: 50px;
    position: absolute;
    translate: -60% -39%;
    background-image: url(./image/fleche-vers-le-haut.png);
    background-size: cover;
    background-position: center;
    rotate: 90deg;
    left:80%;
}

#bio part div:last-child section::after {
    content: "";
    height: 50px;
    width: 170px;
    position: absolute;
    translate: -50% -290%;
    left: 50%;
    font-size: x-large;
    align-content: center;
}

#bio part div:first-child section::after {
    content: "";
    height: 50px;
    width: 170px;
    position: absolute;
    translate: -50% 30%;
    left: 50%;
    font-size: x-large;
    align-content: center;
}

#bio part div:first-child section:nth-child(2)::after {content: "2024 - Présent";}
#bio part div:first-child section:first-child::after {content: "2021 - 2024";}
#bio part div:last-child section::after {content: "Été 2024";}


/* ----------------------------------------------------------------- COMPETENCE ----------------------------------------------------------------- */
#competence {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#competence section {
    margin-bottom: 50px;
    background: white;
    border-radius: 20px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
    width: 80vw;
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

#competence section img {
    height: 10vh;
    margin-bottom: 5px;
    min-height: 70px;
}

#competence section:last-child a {
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    transition: transform .2s;
}

#competence section:last-child a:hover {
    transform: scale(1.2);
}

#competence part {
    display: flex;
    justify-content: space-around;
    width: 80vw;
}

#competence part section {
    margin: 0;
    margin-left: 2%;
    margin-right: 2%;
    height: 35vh;
    width: 16vw;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 230px;
}

#competence part section h3 {
    font-size: 1.1vw;
    padding-left: 5%;
    padding-right: 5%;
}

/* ----------------------------------------------------------------- PROJETS ----------------------------------------------------------------- */

.carousel-container {
    display: flex;
    align-items: center;
    height: 90%;
    padding-bottom: 5%;
}

.carousel-container .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% /3) - 8%);
    gap: 12%;
    
    align-items: center;
    padding-top: 4%;
    padding-bottom: 4%;
    scroll-behavior: smooth;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.menu-item {
    scroll-snap-align: start;
    padding: 15px;
    background: #e6e6e6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: fit-content;
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item .image_projet {
    align-content: center;
    min-height: 300px;
}

.menu-item img {
    width: 40%;
    height: auto;
    border: 4px solid #606060;
}

.menu-item:last-child img {
    border: 0;
}

.menu-item:nth-child(4) img {
    border-radius: 50%;
}

.menu-item h3 {
    font-size: 2rem;
    margin: 16px 0;
    color: #333;
}

.menu-item p {
    border: 2px solid green;
    border-radius: 20px;
    padding: 1%;
    margin: 10px 10px 50px 10px;
}

.menu-item a {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
    text-decoration: none;
    font-size: large;
}

.menu-item a:hover {
  background-color: #0056b3;
}

.menu-item:hover {
  transform: translateY(-10px);
}


button {
    background-color: white;
    border: none;
    cursor: pointer;
    width: 50px;
    padding: 0;
    margin: 4%;
    transition: transform .2s;
}

button img {
    width: 50px;
    height: 82px;
}

button:hover {
    transform: scale(1.5,1.5);
}

#prevBtn {
    visibility: hidden;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    width: 100dvw;
    /*min-height: 2000px;*/
    z-index: 2000;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-container.active {
    display: block;
}

.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333333d3;
}

.modal {
    background: #fff;
    width: fit-content;
    position: absolute;
    transform: translate(-50%, 5%);
    top: 0%;
    left: 50%;
    border-radius: 5px;
    padding: 20px;
    min-width: 300px;
    margin-top: 5%;
    visibility: visible;    

}

/* ----------------------------------------------------------------- Projet Jeu de Dames ----------------------------------------------------------------- */
h1 {
  font-size: 2.4rem;
  margin-bottom: 50px;
  color: #333;
}

/* Timeline */
.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 20px;
  border-left: 3px solid #007bff33;
}

.step {
  margin-bottom: 40px;
  padding-left: 20px;
  position: relative;
}

.step::before {
  content: "";
  position: absolute;
  left: -11px;
  top: 5px;
  width: 18px;
  height: 18px;
  background: #007bff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #007bff33;
}

.step h2 {
  margin: 0 0 10px;
  font-size: 1.4rem;
  color: #007bff;
}

.step p {
  background: #f7f7f7;
  padding: 18px 22px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
  line-height: 1.6;
  color: #444;
}


/* BOUTON */
.download-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  background: #007bff;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.1rem;
  margin: 40px auto;
  display: flex;
  transition: 0.3s;
  max-width: fit-content;
}

.download-btn img {
  width: 22px;
  height: 22px;
}

.download-btn:hover {
  background: #005fcc;
  transform: translateY(-2px);
}

/* ----------------------------------------------------------------- CONTACT ----------------------------------------------------------------- */
.contactpart{
    display: flex;
    justify-content: space-evenly;
    min-height: 60vh;
}

.contactpart img {
    width: 50px;
    height: 50px;
}

#contact {
    min-height: calc(100dvh - 60px - 45px);
}

#contact > p{
    margin: 4vh;
    font-size: larger;
}

.formulaire {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
}

.formulaire h3{
    margin-bottom: 0;
    margin-top: 10%;
    font-style: oblique;
}

.formulaire textarea {
    height: 200px;
    resize: vertical;
    max-height: 320px;
    min-height: 50px;
}

.taille{
    margin-top: 10%;
    text-align: center;
    background: none;
    border: 0;
    font-size: large;
    font-style: oblique;
    border-bottom: 2px solid gray;
}

.taille:focus, textarea:focus {
    outline: none;
}

input:invalid:not(:placeholder-shown) {
    border-bottom: 2px solid #D32F2F;
}

.bouton{
    align-self: center;
    margin-top: 10%;
    border-radius: 30px;
    width: 35%;
    height: 44px;
    border-style: groove;
    border-color: currentColor;
    background-color: white;
    cursor: pointer;
}

.bouton:hover, .reseaux a:hover {
    background-color: #d9d9d9;
}

.reseaux {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-evenly;
}

.reseaux div {
    display: flex;
    justify-content: space-between;
}

.reseaux a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    font-size: large;
    text-decoration: none;
    background-color: white;
    border: 3px solid gray;
    border-radius: 30px;
    padding: 5px;
    color: black;
    height: 5vh;
    min-height: 50px;
}

input::placeholder, .formulaire h3 {
    color: gray;
}

.hidden_1, .hidden_2 {
    display: none;
}

.g-recaptcha {
    align-self: center;
    margin-top: 10%;
}

footer {
    height: 45px;
    background-color: #2c3e50;
    color: white;
    align-content: center;
}

footer p {
    margin: 0;
}


/* ----------------------------------------------------------------- MODE TEL ----------------------------------------------------------------- */
@media screen and (max-width: 1530px) {
    /* ACCUEIL */
    .titre_principale {
        display: none !important;
    }
    .titre_secondaire {
        display: block !important;
        white-space: wrap;
        width: auto !important;
    }
}




@media screen and (max-width: 1250px) {
    /* A PROPOS */
    #bio section:nth-child(2) {
        flex-direction: column;
        justify-content: space-evenly;
    }
    #bio .perso .pp {
        height: 20%;
    }
    #bio .perso p:nth-child(2) {
        max-width: 75%;
        height: fit-content;
        font-size: medium;
        margin: 0;
    }

    #bio .perso section:last-child {
        width: 80%;
        padding-bottom: 2vh;
        padding-top: 2vh;
        height: fit-content;
    }

    #bio .perso h3 {
        margin-top: 0;
    }

    #bio .perso section:last-child img {
        height: 8vh;
    }
    
    /* COMPETENCE */
    #competence section {
        flex-direction: column;
        height: fit-content;
        padding: 2%;
    }

    #competence part {
        padding-bottom: 1.5%;
        padding-top: 1.5%;
    }

    #competence part section h3 {
        margin: 0;
        font-size: larger;
    }

    /*PROJET*/
    .carousel-container .carousel {
        grid-auto-columns: calc((100%/2) - 6%);
    }
}



@media screen and (max-width: 1050px) {
    /* CONTACT */
    .reseaux div {
        height: 66px;
        justify-content: space-evenly;
    }

    .reseaux {
        width: auto;
    }
}





@media screen and (max-width: 768px) {

    article {
        scroll-margin-top: 70px;
        min-height: 100dvh;
    }

    /*MENU*/
    .lock {
        display: flex !important;
        justify-content: space-between;
        z-index: 1000;
        background-color: #2c3e50;
        position: fixed;
        width: 100%;
        align-items: center;
        height: 70px;
    }

    header {
        display: none;
    }

    .pp_logo {
        height: 60px;
        width: 60px;
        margin: 0;
        margin-left: 10px;
        border-radius: 50%;
    }

    .dropdown_2 {
        position: relative;
        bottom: 6%;
    }

    .dropdown_2 .dropdown_content {
        top: 35px;
    }

    .dropdown_2 .dropdown_content a {
        padding: 4px;
    }

    .dropdown_2 img {
        position: relative;
        width: 24px;
        height: 24px;
        top: 7px;
        pointer-events: none;
        rotate: 90deg;
        transition: transform 0.3s ease-in-out;
        border-radius: 50%;
    }
    
    .open_dropdown {
        background-color: #f1f1f1;
        padding: 5px;
        margin-top: 20px;
        padding-right: 0 !important;
        text-decoration: none;
    }

    .open-btn{
        font-size: 60px;
        font-family: monospace;
        text-decoration: none;
        color: black;
        display: block;
        height: 50px;
        margin-bottom: 35px;
        margin-right: 10px;
    }

    .open-btn:active, .open-btn:hover{
        color: white;
    }

    .affiche {
        transform: translateY(-100%) ;
        display: flex !important;
        justify-content: space-evenly;
        position: fixed;
        width: 100%;
        transition: transform 0.5s ease-in-out;
        background-color: #2c3e50;
        z-index: 500;
        align-items: end;
    }

    .affiche ul {
        position: relative;
        top: 15px;
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .affiche ul li {
        margin: 5px;
    }

    .affiche ul li a:active {
        color: #7C8792;
    }

    .affiche ul li a {
        color: white;
        text-decoration: none;
        font-size: x-large;
    }

    nav.affiche.visible {
        transform: translateY(30px);
    }

    /* A PROPOS */
    #bio .perso section:last-child a{
        height: 10%;
        margin-top: 10%;
    }

    #bio {
        min-height: fit-content;
    }

    #bio part {
        width: 100%;
    }

    #bio part section {
        width: 50vw;
    }

    #bio part div {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }

    #bio part div:first-child {
        height: 100%;
    }

    #bio part div section::before, .timebar, .timebar::after {
        display: none;
    }

    #bio h3 {
        font-size: large !important;
    }

    #bio h4 {
        font-size: smaller;
    }

    #bio h2:last-child {
        margin-bottom: 2%;
    }

    #bio part div:first-child section::after {
        translate: -50% -100%;
        top: 10%;
    }

    #bio part div:last-child section::after {
        translate: -50% -50%;
        top: -15%;
    }

    /* COMPETENCE */
    #competence {
        min-height: fit-content;
    }
    
    #competence part {
        flex-direction: column;
        align-items: center;
    }

    #competence .competence_technique {
        flex-direction: row;
        margin-top: 5%;
    }

    #competence section img {
        width: fit-content;
        align-self: center;
    }

    #competence section:last-child a {
        margin: 10%;
    }

    #competence part section {
        width: fit-content;
        margin-top: 5%;
        font-size: larger;
        margin-bottom: 5%;
        height: 20vh;
    }

    /*PROJETS*/
    .carousel-container .carousel {
        grid-auto-columns: 100%;
    }

    /*CONTACT*/
    #contact {
        min-height: auto;
    }

    .contactpart {
        flex-direction: column-reverse;
    }

    .formulaire {
        width: auto;
        padding: 5%;
        min-height: auto;
    }

    .reseaux {
        height: 200px;
    }

    .reseaux div:first-child a:last-child img {
        margin-left: 5%;
    }

    .reseaux a {
        width: 150px;
    }

    #contact > p {
        font-size: initial;
    }
}
