html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: Lato, Arial, sans-serif;
}

/* Barre de navigation */
header {
    height: 50px;
}

header nav {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #2c3e50;
    position: fixed;
    height: 50px;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    padding: 0px;
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    height: 100%;
    width: 80%;
    align-items: center;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: x-large;
}

header nav ul li a:hover{
    color: #909497;
    font-size: 28px;
}

.nav-bar {
    width: 80%;
}

/* Menu dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    bottom: 8px;
}

.open_dropdown {
    background-color: #f1f1f1;
    color: black;
    padding: 12px;
    cursor: pointer;
    padding-right: 0;
}

.dropdown_content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 57px;
    margin: 0;
}

.dropdown_content a {
    color: black;
    text-decoration: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
}

.dropdown img {
    position: relative;
    width: 32px;
    height: 32px;
    top: 10px;
    pointer-events: none;
    rotate: 90deg;
    transition: transform 0.3s ease-in-out;
    border-radius: 50%;
}

/* change la couleur de fond du lien dans le dropdown content */
.dropdown_content a:hover {
    background-color: #ddd;
}

/* rotation de l'image quand le menu est cliquée */
.rotate {
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in-out;
}












/* CONTENU DE LA PAGE */
main {
    display: flex;
    text-align: center; 
}

article {
    min-height: 880px;
    width: 100%;
    scroll-margin-top: 50px;
}

.contenu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contact h2, #projets h2, #bio h2,#formation h2 {
    font-size: xx-large;
    font-style: italic;
}

#formation, #contact, #accueil {
    background-color: #f0f0f0;
}
/*
#bio, #projets {
    background-color: #f0f0f0;
}
*/


/* ----------------------------------------------------------------- ACCUEIL ----------------------------------------------------------------- */
#accueil {
    background-image: url("./image/main.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#accueil h1,#accueil h2,#accueil h3 {
    color: #32CD32;
}

#accueil h2 {
    font-size: xx-large;
}

#accueil h3 {
    font-size: x-large;
    margin-top: 0;
}

#accueil h1 {
    position: relative;
    width: max-content;
    font-size: xxx-large;
    overflow: hidden;
    display: inline-block;
}

.auto_text {
    display: inline-block;
    font-size: xxx-large;
    white-space: nowrap;
    overflow: hidden;
    border-right: 6px solid #228B22; /* Curseur clignotant */
    animation: typing 6s steps(24, end) forwards, blink 0.7s infinite;
    padding: 10px 20px;
    transition: opacity 1.5s ease-in-out;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Animation du curseur */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Disparition du texte */
.fade-out {
    opacity: 0;
}











/* ----------------------------------------------------------------- A PROPOS ----------------------------------------------------------------- */
#bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bio section {
    height: 60%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #e6e6e6;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
}

#bio section:last-child {
    margin-bottom: 50px;
}

#bio .pp {
    height: 250px;
    border-radius: 50%;
}

#bio p:nth-child(2) {
    max-width: 50%;
}

#bio div {
    display: flex;
    flex-direction: column;
}

#bio div img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

#bio section:last-child img {
    height: 100px;
    margin-bottom: 5px;
}

#bio section:last-child a {
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    transition: transform .2s;
}

#bio section:last-child a:hover {
    transform: scale(1.2);
}


/* ----------------------------------------------------------------- FORMATION ----------------------------------------------------------------- */
#formation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.timebar {
    height: 75%;
    width: 8px;
    background-color: black;
    margin-top: 90px;
}

#formation div {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 350px;
}

#formation section{
    padding: 2%;
    margin-top: 120px;
    border-radius: 15px;
    background-color: #A2D2FF;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
}

#formation div:first-child section {
    background-color: #B7E4C7;
}

#formation div:last-child h2{
    white-space: nowrap;
    position: relative;
    right: 40px;
}

.margb {
    margin-top: 145px !important;
}

.margt {
    margin-top: 240px !important;
}

#formation h2 {
    margin-bottom: 0;
}

#formation h3 {
    margin-bottom: 5%;
    font-size: 150%;
    margin-top: 5%;
}

#formation h4 {
    margin-top: 1%;
    margin-bottom: 1%;
}

#formation div:first-child{
    margin-left: 10%;
}

#formation div:last-child{
    margin-right: 10%;
}

/* BEFORE */
#formation div:first-child section::before {
    content: "";
    border: 2px solid green;
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url(./image/scolaire.png);
    background-size: cover; /* Ajuste l'image */
    background-position: center;
    border-radius: 30px;
    translate: -50% 50%;
    left: 50%;
}

#formation div:first-child section:nth-child(3)::before {
    translate: -50% 75%;
}

#formation div:last-child section::before {
    content: "";
    border: 2px solid blue;
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url(./image/professionelles.png);
    background-size: cover; /* Ajuste l'image */
    background-position: center;
    border-radius: 30px;
    translate: -50% 50%;
    left: 50%;
}

/* AFTER */
.timebar::after {
    content: "";
    height: 50px;
    width: 50px;
    position: absolute;
    translate: -50% -39%;
    background-image: url(./image/fleche-vers-le-haut.png);
    background-size: cover;
    background-position: center
}

#formation div:last-child section::after {
    content: "";
    height: 50px;
    width: 170px;
    position: absolute;
    translate: -50% -160%;
    left: 56%;
    font-size: x-large;
    align-content: center;
}

#formation div:first-child section::after {
    content: "";
    height: 50px;
    width: 170px;
    position: absolute;
    translate: -50% -160%;
    left: 44%;
    font-size: x-large;
    align-content: center;
}

#formation div:first-child section:nth-child(2)::after {content: "2024 - 2025";}
#formation div:first-child section:nth-child(3)::after {content: "2021 - 2024"; translate: -50% -181%;}
#formation div:first-child section:nth-child(4)::after {content: "2017 - 2021";}
#formation div:last-child section:nth-child(2)::after {content: "Été 2024 ";}
#formation div:last-child section:nth-child(3)::after {content: "Janvier 2021";}



/* ----------------------------------------------------------------- PROJETS ----------------------------------------------------------------- */

.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 90%;
    justify-content: center;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.visible {
    overflow: hidden;
    height: 80%;
    display: flex;
    max-width: 1200px;
}

.menu-item {
    min-width: 500px;
    padding: 15px;
    background: #e6e6e6;
    border-radius: 20px;
    margin: 20px 60px;
    justify-content: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
}

.menu-item:first-child {
    margin-left: 330px;
}

.menu-item img {
    width: 50%;
    height: 45%;
    border: 4px solid black;
}

.menu-item h3 {
    font-size: xx-large;
    font-style: italic;
    text-decoration: underline;
}

.menu-item p {
    border: 2px solid green;
    border-radius: 20px;
    padding: 1%;
    margin: 10px 10px 50px 10px;
}

button {
    background-color: white;
    border: none;
    cursor: pointer;
    width: 50px;
    padding: 0;
    margin: 4%;
    transition: transform .2s;
}

button img {
    width: 100%;
    height: 100%;
}

button:hover {
    transform: scale(1.5,1.5);
}

.language {
    display: flex;
    width: 100%;
    justify-content: center;
}

.language p:first-child {border-color: #007FFF;}
.language p:nth-child(2) {border-color: #FF2400;}
.language p:last-child {border-color: #FFC107;}


/* ----------------------------------------------------------------- CONTACT ----------------------------------------------------------------- */
.contactpart{
    display: flex;
    justify-content: space-evenly;
}

.contactpart img {
    width: 50px;
    height: 50px;
}

#contact > p{
    margin: 4%;
    font-size: larger;
}

.formulaire {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.formulaire h3{
    margin-bottom: 0;
    margin-top: 10%;
    font-style: oblique;
}

.formulaire textarea {
    height: 200px;
    resize: vertical;
    max-height: 320px;
    min-height: 50px;
}

.taille{
    margin-top: 10%;
    text-align: center;
    background: none;
    border: 0;
    font-size: large;
    font-style: oblique;
    border-bottom: 2px solid gray;
}

.taille:focus, textarea:focus {
    outline: none;
}

input:invalid:not(:placeholder-shown) {
    border-bottom: 2px solid #D32F2F;
}

.bouton{
    align-self: center;
    margin-top: 10%;
    border-radius: 30px;
    width: 35%;
    height: 44px;
    border-style: groove;
    border-color: currentColor;
    background-color: white;
    cursor: pointer;
}

.bouton:hover, .reseaux a:hover {
    background-color: #d9d9d9;
}

.reseaux {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-around;
    height: 467px;
}

.reseaux div {
    display: flex;
    justify-content: space-between;
}

.reseaux a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    font-size: large;
    text-decoration: none;
    background-color: white;
    border: 3px solid gray;
    border-radius: 30px;
    padding: 5px;
    color: black;
}

input::placeholder, .formulaire h3 {
    color: gray;
}

.hidden_1, .hidden_2 {
    display: none;
}